.bg-top{
    background-color: #2C3F4F;
}

.bg-avatar{
    background-color: #19BC9B;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#submit-button{
    background-color: #19BC9B;
    border-color:#19BC9B;
}