*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


.bg-me-dark{
    background-color: #2C3F4F;
}

.bg-avatar{
    background-color: #19BC9B;
}


#submit-button{
    background-color: #19BC9B;
    border-color:#19BC9B;
}

.bg-reference{
    background-color: #3B546D;
}



.line{
    height: 2px;
}

.form-control{
    border: hidden;
    border-bottom: 1px solid lightgrey;
}

#my-c-green{
    color:#19BC9B;
}



